<a href="https://colab.research.google.com/github/kareemullah123456789/1112232/blob/master/azure_syanpse_final_Notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df = spark.read.format("csv").option("header", "true").load("abfss://demo@demo0003.dfs.core.windows.net/customer_orders.csv")
df.show(5)

StatementMeta(new, 1, 8, Finished, Available, Finished)

+-------+------------+----------+--------+-----+----------+
|OrderID|CustomerName|   Product|Quantity|Price| OrderDate|
+-------+------------+----------+--------+-----+----------+
|      1|    John Doe|    Laptop|       1| 1200|2024-01-01|
|      2|  Jane Smith|Smartphone|       2|  800|2024-01-05|
|      3| Sam Johnson|    Tablet|       1|  300|2024-01-10|
|      4|   Linda Lee|Smartwatch|       3|  200|2024-01-15|
|      5|   David Kim|Headphones|       5|  100|2024-01-20|
+-------+------------+----------+--------+-----+----------+

In [ ]:
df.printSchema()

StatementMeta(new, 1, 9, Finished, Available, Finished)

root
 |-- OrderID: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- OrderDate: string (nullable = true)

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS nyctaxi")

df.write.mode("overwrite").saveAsTable("nyctaxi.trip")

In [ ]:
df1 = spark.sql("SELECT * FROM nyctaxi.trip")
display(df1)