<a href="https://colab.research.google.com/github/kareemullah123456789/1112232/blob/master/pyngrok_UI_CODE_Working_with_RDDs_in_PySpark_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Getting Setup (On Google Colab)

* Begin by installing some pip packages and the java development kit.

In [2]:
!pip install pyspark --quiet
#!pip install -U -q PyDrive --quiet
#!apt install openjdk-8-jdk-headless &> /dev/null

* Then set the java environmental variable

In [ ]:
RDD -- Resilient Distributed Datasets

In [3]:
import os
os.environ["JAVA_HOME"] = "/lib/jvm/java-11-openjdk-amd64"

* Then connect to a SparkSession, setting the spark ui port to `4050`.

In [4]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().set('spark.ui.port', '4050').setAppName("films").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)

In [5]:
!pip install pyngrok

Collecting pyngrok
  Downloading pyngrok-7.2.0-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.10/dist-packages (from pyngrok) (6.0.2)
Downloading pyngrok-7.2.0-py3-none-any.whl (22 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.2.0

In [6]:
from pyngrok import ngrok

# Replace "your_auth_token" with your actual ngrok token
ngrok.set_auth_token("2mn3JmxhS2Tva5L5LPlVPg8vENL_6F56KMq9DJaoH2bRUEhBz")

In [7]:
!ngrok authtoken 2mn3JmxhS2Tva5L5LPlVPg8vENL_6F56KMq9DJaoH2bRUEhBz

Authtoken saved to configuration file: /root/.config/ngrok/ngrok.yml

In [8]:
from pyspark import SparkContext, SparkConf
from pyngrok import ngrok

# Set up Spark configuration
conf = SparkConf().set('spark.ui.port', '4050').setAppName("films").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)

# Expose the Spark UI port via ngrok
spark_ui_url = ngrok.connect(4050)

print(f"Spark UI running on: {spark_ui_url}")

Spark UI running on: NgrokTunnel: "https://db12-34-83-135-166.ngrok-free.app" -> "http://localhost:4050"

In [ ]:
from pyspark import SparkContext, SparkConf
from pyngrok import ngrok

# Set up Spark configuration
conf = SparkConf().set('spark.ui.port', '4050').setAppName("films").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)

# Expose the Spark UI port via ngrok
spark_ui_url = ngrok.connect(4050)

print(f"Spark UI running on: {spark_ui_url}")

ERROR:pyngrok.process.ngrok:t=2024-10-04T03:37:59+0000 lvl=eror msg="failed to reconnect session" obj=tunnels.session err="authentication failed: Usage of ngrok requires a verified account and authtoken.\n\nSign up for an account: https://dashboard.ngrok.com/signup\nInstall your authtoken: https://dashboard.ngrok.com/get-started/your-authtoken\r\n\r\nERR_NGROK_4018\r\n"
ERROR:pyngrok.process.ngrok:t=2024-10-04T03:37:59+0000 lvl=eror msg="session closing" obj=tunnels.session err="authentication failed: Usage of ngrok requires a verified account and authtoken.\n\nSign up for an account: https://dashboard.ngrok.com/signup\nInstall your authtoken: https://dashboard.ngrok.com/get-started/your-authtoken\r\n\r\nERR_NGROK_4018\r\n"
ERROR:pyngrok.process.ngrok:t=2024-10-04T03:37:59+0000 lvl=eror msg="terminating with error" obj=app err="authentication failed: Usage of ngrok requires a verified account and authtoken.\n\nSign up for an account: https://dashboard.ngrok.com/signup\nInstall your authtoken: https://dashboard.ngrok.com/get-started/your-authtoken\r\n\r\nERR_NGROK_4018\r\n"
CRITICAL:pyngrok.process.ngrok:t=2024-10-04T03:37:59+0000 lvl=crit msg="command failed" err="authentication failed: Usage of ngrok requires a verified account and authtoken.\n\nSign up for an account: https://dashboard.ngrok.com/signup\nInstall your authtoken: https://dashboard.ngrok.com/get-started/your-authtoken\r\n\r\nERR_NGROK_4018\r\n"

PyngrokNgrokError: The ngrok process errored on start: authentication failed: Usage of ngrok requires a verified account and authtoken.\n\nSign up for an account: https://dashboard.ngrok.com/signup\nInstall your authtoken: https://dashboard.ngrok.com/get-started/your-authtoken\r\n\r\nERR_NGROK_4018\r\n.

* Then we need to install ngrok which will allow us to place our local spark ui on the web.

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip &> /dev/null
!unzip ngrok-stable-linux-amd64.zip &> /dev/null
get_ipython().system_raw('./ngrok http 4050 &')

* And finally we get a link our Spark UI

In [ ]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

Traceback (most recent call last):
  File "<string>", line 1, in <module>
IndexError: list index out of range

### Looking Under the Hood

Now  let's again create an RDD from our movie records.

In [9]:
movies = ['dark knight', 'dunkirk', 'pulp fiction', 'avatar']

In [10]:
movies_rdd = sc.parallelize(movies)
movies_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

And then let's capitalize the movies, and select the movies that begin with `d`.

In [11]:
movies_rdd.collect() #action

['dark knight', 'dunkirk', 'pulp fiction', 'avatar']

In [12]:
movies_rdd.take(3) #actions

['dark knight', 'dunkirk', 'pulp fiction']

In [13]:
movies[0].title()

'Dark Knight'

In [ ]:
movies

['dark knight', 'dunkirk', 'pulp fiction', 'avatar']

In [14]:
transform=lambda i:i.title()
movies_title=[transform(i) for i in movies]

In [ ]:
movies_title

['Dark Knight', 'Dunkirk', 'Pulp Fiction', 'Avatar']

In [15]:
movies_title_rdd=movies_rdd.map(transform) ## transformation

In [16]:
movies_title_rdd.collect()

['Dark Knight', 'Dunkirk', 'Pulp Fiction', 'Avatar']

In [ ]:
movies_rdd.collect()

['dark knight', 'dunkirk', 'pulp fiction', 'avatar']

In [ ]:
movies_rdd.filter(lambda movies : movies[0]=='d').collect()

['dark knight', 'dunkirk']

In [17]:
movies_rdd.map(lambda movie: movie.title()).take(2)
#transformations -- lazy transformations
## once you apply a transformation only the function is created but it is not applied
## you need an action to apply the transformation across your rdd

['Dark Knight', 'Dunkirk']

In [ ]:
rdd2.collect()

NameError: name 'rdd2' is not defined

In [18]:
rdd1=movies_rdd.map(lambda movies :movies.title()).collect()

In [19]:
rdd2=movies_rdd.map(lambda movies : movies.title())

In [ ]:
# from pyspark.sql import SparkSession
# from pyngrok import ngrok

# # Step 1: Create a Spark session
# spark = SparkSession.builder \
#     .appName("example") \
#     .config("spark.ui.port", "4050") \
#     .getOrCreate()

# # Step 2: Expose the Spark UI using ngrok
# spark_ui_url = ngrok.connect(4050)

# print(f"Access the Spark UI via this URL: {spark_ui_url}")

Access the Spark UI via this URL: NgrokTunnel: "https://7cfe-34-32-235-13.ngrok-free.app" -> "http://localhost:4050"

In [ ]:
# Step 1: Read the CSV file
df_emp = spark.read.csv('/content/sales_data.csv', header=True, inferSchema=True)

# Step 2: Perform some operations (e.g., showing the first few rows)
df_emp.show(15)

# Step 3: Perform more transformations or actions (e.g., count rows)
df_emp.count()

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|   STATE|POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|      NY|     10022|      USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        NULL|        Reims|    NULL|     51100|   France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        NULL|        Paris|    NULL|     75508|   France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        NULL|     Pasadena|      CA|     90003|      USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        NULL|San Francisco|      CA|      NULL|      USA|       NA|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|        NULL|   Burlingame|      CA|     94217|      USA|       NA|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|        NULL|        Lille|    NULL|     59000|   France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|    100.0|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|        NULL|       Bergen|    NULL|    N 5804|   Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|        NULL|San Francisco|      CA|      NULL|      USA|       NA|         Murphy|           Julie|   Small|
|      10211|             41|    100.0|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|        NULL|        Paris|    NULL|     75016|   France|     EMEA|        Perrier|       Dominique|  Medium|
|      10223|             37|    100.0|              1|3965.66| 2/20/2004 0:00|Shipped|     1|       2|   2004|Motorcycles|  95|   S10_1678|Australian Collec...|    03 9520 4555|   636 St Kilda Road|     Level 3|    Melbourne|Victoria|      3004|Australia|     APAC|       Ferguson|           Peter|  Medium|
|      10237|             23|    100.0|              7|2333.12|  4/5/2004 0:00|Shipped|     2|       4|   2004|Motorcycles|  95|   S10_1678|     Vitachrome Inc.|      2125551500|   2678 Kingston Rd.|   Suite 101|          NYC|      NY|     10022|      USA|       NA|          Frick|         Michael|   Small|
|      10251|             28|    100.0|              2|3188.64| 5/18/2004 0:00|Shipped|     2|       5|   2004|Motorcycles|  95|   S10_1678|Tekni Collectable...|      2015559350|       7476 Moss Rd.|        NULL|       Newark|      NJ|     94019|      USA|       NA|          Brown|         William|  Medium|
|      10263|             34|    100.0|              2|3676.76| 6/28/2004 0:00|Shipped|     2|       6|   2004|Motorcycles|  95|   S10_1678|     Gift Depot Inc.|      2035552570| 25593 South Bay Ln.|        NULL|  Bridgewater|      CT|     97562|      USA|       NA|           King|           Julie|  Medium|
|      10275|             45|    92.83|              1|4177.35| 7/23/2004 0:00|Shipped|     3|       7|   2004|Motorcycles|  95|   S10_1678|   La Rochelle Gifts|      40.67.8555|67, rue des Cinqu...|        NULL|       Nantes|    NULL|     44000|   France|     EMEA|        Labrune|          Janine|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
only showing top 15 rows

2823

In [ ]:
#use same dataframe to apply groupby and sum operation
sum_df=df_emp.groupBy('PRODUCTLINE').sum('SALES')
sum_df.show(5)

+----------------+------------------+
|     PRODUCTLINE|        sum(SALES)|
+----------------+------------------+
|     Motorcycles|1166388.3400000003|
|    Vintage Cars|1903150.8399999992|
|           Ships|         714437.13|
|Trucks and Buses|1127789.8399999996|
|    Classic Cars| 3919615.659999997|
+----------------+------------------+
only showing top 5 rows

In [ ]:
type(rdd2)

pyspark.rdd.PipelinedRDD

In [ ]:
movies_rdd.map(lambda movies :movies.title()).collect()

['Dark Knight', 'Dunkirk', 'Pulp Fiction', 'Avatar']

Now as we know, Spark will partition the dataset across the cores of the executors, and then map through the records in parallel, returning all of the results.

> <img src="https://github.com/jigsawlabs-student/pyspark-rdds/blob/main/parallel.png?raw=1" width="60%">

Now let's change the function so that this time, instead of returning all of the results, we just return the first result.

In [ ]:
movies_rdd.map(lambda movie: movie.title()).take(1)

['Dark Knight']

Now if we think about, this previous step, here we would not have to map through all of the steps just to return a single result.  And it turns out if we look at Spark, we can see that even though the dataset was distributed -- it only needed to perform work on a single partition to return one result.

> <img src="https://github.com/jigsawlabs-student/pyspark-rdds/blob/main/individual_task.png?raw=1" width="80%">

This ability, to see the end result that needs to be returned, and to work efficiently to only take the needed steps to return those results, is a valuable feature when working with large datasets.  And we can better see how Spark accomplishes it in the next section.

### A little experiment

If we run the code below, notice that nothing is returned.

In [20]:
movies_rdd.map(lambda movie: movie.title())

PythonRDD[6] at RDD at PythonRDD.scala:53

And even if we chain the map and the filter methods, still nothing is returned.

In [21]:
movies_rdd.map(lambda movie: movie.title()).filter(lambda movie: movie[0] == 'D').collect()

['Dark Knight', 'Dunkirk']

It's only when we add a collect function on the end, will some data be returned.

In [ ]:
movies_rdd.filter(lambda movie: movie[0] == 'd').map(lambda movie: movie.title()).collect()

['Dark Knight', 'Dunkirk']

So above, nothing was returned when we ran the `map` and `collect` functions, because when we only executed those functions, Spark did not actually act on the data.  Then in the third line we finally did act on the data.  We told Spark that we want to both transform, and filter the data, and then return all of the results.  

So it's only when we called the `collect` function that Spark's driver determined the tasks to then send off to the executors and return the results.

### Transformations and Actions

So above we can see that the functions `map` and `filter` do not actually perform any work on our data.  Instead steps are only kicked off when we call the `collect` method.

In Spark, the methods that kick off tasks and return results are called **actions** (eg. collect).  And methods like `map` and `transform` that do not are called **transformations**.

1. Transformations

So we already saw that transformations include `map` and `filter`, and our transformations do not actually return results to our users.  Here's a couple other transformations.

* sample

The `sample` method allows us to take a random sample from our dataset.

In [ ]:
movies_rdd.sample(fraction = 0.5, withReplacement = False).collect()

['dunkirk', 'avatar']

> Notice that it does not return any data.

* distinct

In [ ]:
movies_rdd.distinct().collect()

['dark knight', 'dunkirk', 'pulp fiction', 'avatar']

> Distinct finds the unique results.  Notice that it also does not return data.

Finally, we have already seen `map`, which provides a one to one transformation of our records, and `select` which filters our data.  In each case, our transformations do not return data to us.

2. Actions

Actions are a bit more about the end result.  So far we've learned about `collect`, which returns *all* of the results of a series of transformations.  

* Take

We've also seen `take`, which limits our results to a subset.

In [ ]:
movies_rdd.distinct().take(2)

['dark knight', 'dunkirk']

> So `take` is similar to the `LIMIT` function in SQL. Notice that here our records are returned.

* Count

In [22]:
movies_rdd.distinct().count()

4

In [ ]:
# pyspark_job.py
from pyspark.sql import SparkSession

def run_pyspark_job():
    spark = SparkSession.builder.appName("Scheduled PySpark Job").getOrCreate()
    df = spark.read.csv("/path/to/data.csv", header=True, inferSchema=True)
    filtered_df = df.filter(df['age'] > 25)
    selected_df = filtered_df.select("name", "age")
    selected_df.show()

if __name__ == "__main__":
    run_pyspark_job()

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/path/to/data.csv.

Count simply counts the results.